// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 30px;
  background-color: #030d0e !important;
  border-bottom-color: #E0BC77;
  border-bottom-style: double;
  border-width: 5px; 

  .port-dropdown-toggle {

    color: #00b8ae;

  }

  .port-navbar {
    &-brand {
      color: #00b8ae;
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: #0ba4eb;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #c4ffe8;
      }

      &:hover,
      &:focus {
        color: #E0BC77; 
      }
    }
  }
}
