// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;
  border-bottom-color: #E0BC77;
  border-bottom-style: dotted;
  border-width: 5px; 

  .port-navbar {
    &-brand {
      color: #00f5ac !important;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: #0ba4eb !important;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #c4ffe8 !important;
      }

      &:hover,
      &:focus {
        color: #E0BC77 !important; 
      }
    }
  }
}
