@import "./shared/fonts";

@import './shared/colors';
// @import './shared/mixins';

// // PAGES
@import "./index";
@import "./header";
@import './blog';

// @import './portfolios';
// @import './blogs';
// @import './about';

// // COMPONENTS
// @import './header';
// @import './slate-editor';

.absolute {
  position: absolute !important;
  top: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
}

//blog editor title + subtitle

label {

color: #282828;
font-weight: bold;
padding-left: 50px;
padding-right: 50px;

}

.titlez {

padding-left: 50px;
padding-right: 50px;

}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

// main bg 

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  min-height: 100vh;
  background-color: #ecedee;


  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
