@import "./shared/fonts";

@import './shared/colors';
@import './shared/mixins';

// // PAGES
@import "./index";
@import "./header";
@import './blog';

// @import './portfolios';
// @import './blogs';
// @import './about';

// // COMPONENTS
// @import './header';
// @import './slate-editor';

.absolute {
  position: absolute !important;
  top: 0px;
}

.titlez {

  color: black !important;


  }

blockquote {
  background: #ecedee;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

normaltext {

  color: #E0BC77;
}

label {

color: #E0BC77;
}

//color for all the main pages
.base-page {
  padding: 150px 0 100px 0;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  background-color: #12282a;


  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
